
* {
  margin : 0;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color:white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12%;
  }

  /* Style the links inside the navigation bar */
  .navbar a {
    width: 12%;
    height: 100%;
    align-content: center;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: lightcoral;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: red;
    color: white;
  }

  #content {
      height: 88%;
      width: 100%;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      vertical-align: middle;
  }

.style {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.style form .button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#content a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
}